# Entorno Virtual
OptifireAPT/OptifireAPT/APT/

# Archivos de Python
__pycache__/
*.pyc

# Archivos de Django
db.sqlite3
*.log
media/
static/

# Archivos de configuración local
.env
local_settings.py

# Archivos de SO
.DS_Store
Thumbs.db