# --- Entornos Virtuales ---
APT/
venv/
env/



# --- Archivos de Sistema ---
.DS_Store
Thumbs.db

# --- Archivos temporales de Python 
OptifireAPT/OptifireAPT/APT/


# Ignorar Python Cache
__pycache__/
*.py[cod]
*$py.class