<ul class="nav flex-column flex-grow-1">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard_cliente' %}active{% endif %}" href="{% url 'dashboard_cliente' %}">
            <i class="fas fa-home"></i> Mis Órdenes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'solicitar_inspeccion' %}active{% endif %}" href="{% url 'solicitar_inspeccion' %}">
            <i class="fas fa-plus-circle"></i> Nueva Solicitud
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'editar_perfil' %}active{% endif %}" href="{% url 'editar_perfil' %}">
            <i class="fas fa-user-edit"></i> Mi Perfil
        </a>
    </li>
</ul>