<ul class="nav flex-column flex-grow-1">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'dashboard_tecnico' %}active{% endif %}" href="{% url 'dashboard_tecnico' %}">
            <i class="fas fa-clipboard-list"></i> Asignaciones
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'perfil_tecnico' %}active{% endif %}" href="{% url 'perfil_tecnico' %}">
            <i class="fas fa-id-card"></i> Perfil Profesional
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'registro_trabajos' %}active{% endif %}" href="{% url 'registro_trabajos' %}">
            <i class="fas fa-briefcase"></i> Registro de trabajos
        </a>
    </li>
    <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'estadisticas' %}active{% endif %}" href="{% url 'estadisticas' %}">
        <i class="fas fa-chart-bar"></i> Mis Métricas
    </a>
    </li>
</ul>