<ul class="nav flex-column">
    <li class="nav-item">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
            Técnico
        </h6>
    </li>
    
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.view_name == 'dashboard_tecnico' %}active{% endif %}" 
           href="{% url 'dashboard_tecnico' %}">
           <i class="fas fa-clipboard-list me-2"></i>
           Ordenes de trabajo Asignadas
        </a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'perfil_tecnico' %}active{% endif %}" 
           href="{% url 'perfil_tecnico' %}">
           <i class="fas fa-user-circle me-2"></i>
           Mi Perfil Profesional
        </a>
    </li>

    <hr class="my-3">

    <li class="nav-item">
        <a class="nav-link text-danger" href="{% url 'logout' %}">
            <i class="fas fa-sign-out-alt me-2"></i>
            Cerrar Sesión
        </a>
    </li>
</ul>